
.time-form {

  &__fields {
    background-color: $form-bg-colour;
    border-radius: 4px;
    display: flex;
    padding: 8px;
    margin: 18px;
  }

  &__input {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    border-width: 0 0 1px 0;
    color: $active-colour;
    font-size: 1.7rem;
    font-weight: 600;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    outline: 0;

    &:focus {
      background-color: $active-colour;
      color: $colour-white;
    }
  }

  &__semi {
    color: $active-colour;
    font-size: 1.7rem;
    font-weight: 600;
    width: 30px;
  }

}
